@charset "ISO-8859-1";

.aligned {
	text-align: center;
	margin: 20px;
}

.orangeborder{
	border: 6px solid blue;
	border-radius: 25px;
	background: cyan;
}

.bodyBackground{
	background: lightgray;
}

.radiosize{
	height:25px;
	width:25px;
}

.radioalign{
	padding: 5px;
}

.radiotext{
	font-size: 2em;
}